---
Title: Cake.CsvHelper
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.CsvHelper is an addin for Cake, which gives you access the <a href="http://joshclose.github.io/CsvHelper/">CsvHelper</a> library inside your Cake file.
    </p>
</div>